:root{
  --height: 40px;
  --primary-color: red;
  --pry-text-color: #fff;
}
*{
  box-sizing: border-box;
}
.App > div:first-child{
  background-image: url("../images/checklist.webp");
  background-size: 100% 100%;
}

@media screen and (min-width: 768px) {
  .App > div{
    height: 100vh;float: left;
  }
  .App > div{width: 40%}
  .App > div:last-child{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .App > div:last-child > div{
    width: min(500px, 100%);
    padding: 10px
  }
}
@media screen and (max-width: 768px) {
  .App{padding: 10px}
  .App > div:first-child{
    height: 250px;
  }
  .App > div{width: 100%}
  .App > div:last-child{
    padding: 20px 5% 40px;

  }
}
.input{
  width: 70%;margin-right: 5px;
  height: var(--height);border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding-left: 10px; outline: none !important;
}
.btn{
  height: var(--height);border-width: 0px;
  background-color: var(--primary-color);
  color: var(--pry-text-color); font-weight: bold;
  border-radius: 5px; padding: 10px 30px;
  cursor: pointer;
}
table{
  margin-top: 10px;
  border-collapse: collapse;
}
th, td{
  padding: 5px;
  text-align: center;
}
table tr:nth-child(odd){
  background-color: #f2f2f2;
}
.icon{
  color: red;
  cursor: pointer;
  font-size: 20px;
}
